FASTAPI_ENV=development
API_TITLE=Medical Dashboard XAI API
API_VERSION=0.1.0
BACKEND_CORS_ORIGINS=["http://localhost:3000","http://localhost:3001"]
MODEL_PATH=./app/models/trained_models
DATA_PATH=./data
LOG_LEVEL=INFO
